*
!*/
!*.*
!urls.txt
*.swp
*.swo
:persistentId?persistentId=doi:10.7910%2FDVN%2FPDI7IN%2FKAONZQ
:persistentId?persistentId=doi:10.7910%2FDVN%2FPDI7IN%2FLGVDZB
:persistentId?persistentId=doi:10.7910%2FDVN%2FPDI7IN%2FUQ7JRQ
:persistentId?persistentId=doi:10.7910%2FDVN%2FPDI7IN%2FWMEGGS
:persistentId?persistentId=doi:10.7910%2FDVN%2FPDI7IN%2FXQYUAY
:persistentId?persistentId=doi:10.7910%2FDVN%2FPDI7IN%2FZJALBN
