*.swp
*.swo
dump/
election-tweets_1
election-tweets_2
election-tweets_3
election-tweets_4
election-tweets_5
election-tweets_6
hashtag_list.csv
hashtags_list.npy
hydrated_election_day
hydrated_tweets_smaller/
hydration_log.log
nohup.out
test.log
twarc/
tweet_ids/
tweets_split/
user_list.csv
user_list.npy
00_authorization.py
*.log
*.npz

__pycache__/
*.pickle
credentials.py
files_read
scratch.py
.Rproj.user
pw.txt
